<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD18NCo82rBESiDWQTMptq51I5oh-g3YeY</string>
	<key>GCM_SENDER_ID</key>
	<string>1048230953763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.madhackJobApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>madhackjobapp</string>
	<key>STORAGE_BUCKET</key>
	<string>madhackjobapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048230953763:ios:d269ead6f5843e78f88296</string>
</dict>
</plist>